* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/sfondo.jpg);
  background-size: cover;
}

/* contenitore globale */
.globale {
  background-color: black;
  margin: auto;
  width: 70vw;
  height: 100vh;
}

/* contenitore dell'header e navbar */
.sezione {
  background-color: grey;
  width: 100%;
  height: 30%;
}

/* header */
.intestaz {
  background-color: darkgreen;
  width: 100%;
  height: 80%;
}

/* blocco menù */
.navbar {
  background-color: red;
  width: 100%;
  height: 20%;
}

/* corpo della pagina */
.corpo-pagina {
  background-color: white;
  width: 100%;
  height: 60%;
  position: relative;
}

.corpo-pagina:after {
  content:"";
  display:table;
  clear:both;
}

/* colonna sinistra */
.sinistra {
  background-color: blue;
  width: 30%;
  height: 50%;
  margin-top: 3%;
  float: left;
}

/* colonna centrale */
.centrale {
  background-color: orange;
  width: 30%;
  height: 30%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  position: absolute;
}

.elemento {
  background-color: grey;
  width: 100%;
  height: 30%;
  margin: 10px;
}

/* colonna destra */
.destra {
  background-color: yellow;
  width: 30%;
  height: 80%;
  margin-top: 3%;
  float: right;
}

/* footer */
.chiusura {
  background-color: purple;
  width: 100%;
  height: 10%;
}
