* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/sfondo.jpg);
  background-size: cover;
}

/* contenitore globale */
main {
  background-color: black;
  margin: auto;
  width: 70vw;
  height: 100vh;
}

/* contenitore dell'header e navbar */
.section {
  background-color: grey;
  width: 100%;
  height: 30%;
}

/* header */
header {
  background-color: darkgreen;
}

.navbar {
  background-color: green;
}
